body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(bg-img.jpg);
    background-size: cover;
}

header {
    background-color: #3D4217;
    color: #D4DE95;
    padding: 10px 0;
    text-align: center;
}

nav a {
    margin: 0 15px;
    color: #D4DE95;
    text-decoration: none;
}

main {
    padding: 20px;
}

.button {
    background-color: #3D4217;
    color: #D4DE95;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #f1f1f1;
}

/* .wel{
    color: white;
} */